body {
	background:#767a83;
	/*margin-top:50px;*/
	font: 15px "Trebuchet MS";
	color:#c0c0c0;
}

h1, h2 {
    color: white;
    font-family: "Trebuchet MS";
}

#selected-node-div {
    width: 100%;
    height: 100%;
}

/* #graph-container {
} */