body {
	background:#767a83;
	/*margin-top:50px;*/
	font: 15px "Trebuchet MS";
	color:#c0c0c0;
}

h1, h2 {
    color: white;
    font-family: "Trebuchet MS";
}

#graph-div {
    width: 800px;
    height: 400px;
    padding: 20px;
    border: 3px solid black;
    background-color: rgb(240, 236, 236);
}

#time-interval-div {
    width: 500px;
    height: 100px;
    margin-left: 40px;
}

#selected-node-div {
    width: 500px;
    height: 100px;
    margin-top: 20px;
}

#histogram-div {
    width: 500px;
    height: 300px;
    margin-left: 30px;
}

#piechart-div {
    width: 700px;
    height: 500px;
    margin-left: 30px;
    margin-top: 50px;
}